@use "sass:color";
$primary-color: rgb(56, 55, 55);
$secondary-color: #6b9feee7;
$show-home-image: true;
$background-opacity: 0.7;

// paths must be relative to the compiled CSS file
$background: url('../assets/images/background.jpg');
$portrait: url('../assets/images/portrait.jpg');
$portrait-small: url('../assets/images/portrait_small.jpg');

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $background;
            background-attachment: fixed;
            background-size: cover;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: $primary-color, $alpha: $background-opacity);
                z-index: -1;
            }
        }
    }
}

// Set text color
@function set-text-color($color) {
    @if (color.channel($color, "lightness", $space: hsl) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (min-width: 501px) and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
