@use "config";

// Wide screens
@include config.mediaXl {
    .contact-info {
        margin-right: 30px;
    }
    .btn-light-round {
        width: 16vw;
        text-align: center;
    }
    #modal-msc {
        max-height: 450px;
    }
    #modal-bsc {
        max-height: 600px;
    }
}

// Desktops & laptops
@include config.mediaLg {
    .contact-info {
        margin-right: 30px;
    }
    .btn-light-round {
        width: 24vw;
        text-align: center;
    }
    #modal-msc {
        max-height: 40vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            border: 1px solid black;
            border-radius: 10px;
            margin: 5px 20px 5px 0;
            background-color: white;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 10px config.$primary-color;
        }
    }
    #modal-bsc {
        max-height: 40vh;
    }
}

// Tablets & small laptops
@include config.mediaMd {
    h1.lg-heading, h1 {
        font-size: 2.5rem;
    }
    h2.sm-heading, h2 {
        font-size: 1.75rem;
    }
    main p, a {
        font-size: 1.4rem;
    }
    main {
        align-items: center;
        text-align: center;
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    ul.menu-nav, div.menu-photo {
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu-nav {
        height: 70vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    .menu-photo {
        height: 30vh;
        transform: translate3d(100%, 0, 0);
        .portrait {
            background: config.$portrait-small;
            width: 150px;
            height: 150px;
        }
    }
    .about-info {
        grid-template-areas:
        'bioimage'
        'bio';
        grid-template-columns: 1fr;
    }
    .more {
        display: flex;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        .contact-info {
            margin-bottom: 40px;
            padding: 0 50px 0;
            align-items: flex-start;
            .text {
                text-align: left;
            }
        }
        .contact-info, .contact-form {
            width: 100%;
        }
    }
    .thx {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-light-round {
        width: 37vw;
        text-align: center;
    }
    #modal-msc {
        max-height: 40vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            border: 1px solid black;
            border-radius: 10px;
            margin: 5px 20px 5px 0;
            background-color: white;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 10px config.$primary-color;
        }
    }
    #modal-bsc {
        max-height: 40vh;
    }
}

// Smartphones
@include config.mediaSm {
    h1.lg-heading, h1 {
        font-size: 2rem;
    }
    h2.sm-heading, h2 {
        font-size: 1.25rem;
    }
    main p, a {
        font-size: 1rem;
    }
    main {
        align-items: center;
        &#home h1 {
            margin-top: 10vh;
            text-align: center;
        }
    }
    ul.menu-nav, div.menu-photo {
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu-nav {
        height: 70vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    .menu-photo {
        height: 30vh;
        transform: translate3d(100%, 0, 0);
        .portrait {
            background: config.$portrait-small;
            width: 150px;
            height: 150px;
        }
    }
    .about-info {
        display: flex;
        flex-direction: column;
        .bio-image {
            background: config.$portrait-small;
            width: 150px;
            height: 150px;
        }
    }
    .more {
        display: flex;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        .contact-info {
            margin-bottom: 40px;
            padding: 0 5px 0;
            align-items: flex-start;
            .infobox {
                justify-content: center;
                .icon {
                    align-self: center;
                }
                .text {
                    text-align: left;
                }
            }
        }
        .contact-info, .contact-form {
            width: 100%;
        }
    }
    #thanks {
        margin-right: 70px;
        padding: 3rem;
        .thx {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .btn-light-round-thx {
                width: 32vw;
            }
        }
    }
    #modal-msc, #modal-ttu {
        max-height: 50vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            border: 1px solid black;
            border-radius: 10px;
            margin: 5px 20px 5px 0;
            background-color: white;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 10px config.$primary-color;
        }
    }
    #modal-bsc {
        max-height: 50vh;
    }
    .btn-light-round-cv {
        width: 37vw;
        text-align: center;
    }
    .btn-light-round-edu {
        width: 48vw;
        text-align: center;
    }
}
