@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

.text-secondary {
    color: $secondary-color;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 4rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

// Home page
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 90px);  // viewport height - footer's height
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

// Cursor for typewriter
.txt-type > .txt {
    border-right: #777 0.2rem solid;
}

// About page
.about-info {
    display: grid;
    grid-template-areas: 'bioimage bio bio';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
}

// Education page
.more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    .skills {
        display: grid;  // flex
        //align-items: center;
        //justify-content: center;
        padding: 0 20px;
        .skill-name {
            font-size: 18px;
            font-weight: 500;
            //text-transform: uppercase;
            margin: 20px 0;
        }
        .skill-bar {
            height: 20px;
            background: #c5c5c5;
            border-radius: 8px;
        }
        .skill-per {
            height: 20px;
            background-color: $secondary-color;
            border-radius: 8px;
            width: 0;
            transition: 2s linear;
            position: relative;
            font-weight: 900;
            &::before {
                content: attr(percentage);
                position: absolute;
                padding: 4px 6px;
                background-color: set-text-color($primary-color);  //black;
                color: $primary-color;
                font-size: 12px;
                border-radius: 4px;
                top: -35px;
                right: 0;
                transform: translateX(50%);
            }
            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: set-text-color($primary-color);  //black;
                border-radius: 2px;
                top: -16px;
                right: 0;
                transform: translateX(50%) rotate(45deg);
            }
        }
    }
    .edu-cert {
        padding: 0 20px;
        .edu-title {
            margin-bottom: 30px;
        }
        .uni {
            display: grid;
            grid-gap: 30px;
            .edu {
                background: lighten($color: $primary-color, $amount: 5);
                padding: 0.5rem;
                border-bottom: 5px solid $secondary-color;
            }
        }
        .cert {
            max-width: 600px;
            h1 {
                padding: 30px 0 10px;
            }
            ul {
                margin-top: 0;
                li {
                    padding-bottom: 10px;
                }
            }
        }
    }
}

// Contact page
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .contact-info {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .infobox {
            position: relative;
            padding: 10px 0;
            display: flex;
            .icon {
                min-width: 60px;
                height: 60px;
                background: lighten($color: $primary-color, $amount: 15);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 25px;
            }
            .text {
                display: flex;
                margin-left: 20px;
                font-size: 16px;
                flex-direction: column;
                //font-weight: 300;
                h3 {
                    font-weight: 800;
                    color: $secondary-color;
                    margin-bottom: -15px;
                }
                #address {
                    color: transparent;
                    text-shadow: 0 0 15px #fff;
                }
            }
        }
    }
    .contact-form {
        width: 60%;
        height: 450px;
        padding: 30px;
        background: lighten($color: $primary-color, $amount: 5);
        border-bottom: 5px solid $secondary-color;
        h2 {
            font-size: 30px;
            font-weight: 800;
        }
        .input-box {
            position: relative;
            width: 100%;
            margin-top: 10px;
            input {
                width: 100%;
                height: 35px;
                padding: 5px 0;
                font-size: 16px;
                margin: 15px 0;
                border: none;
                border-bottom: 2px solid $secondary-color;
                background-color: #c5c5c5;
                color: set-text-color($secondary-color);
                outline: none;
                resize: none;
                &:focus ~ span, &:valid ~ span {
                    color: $secondary-color;
                    font-size: 12px;
                    transform: translateY(-25px);
                }
            }
            span {
                position: absolute;
                left: 0;
                padding: 5px 0;
                font-size: 16px;
                margin: 10px 0;
                pointer-events: none;
                transition: 0.5s;
                color: #666;
            }
        }
        button {
            width: 100px;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            border: none;
            cursor: pointer;
            margin-top: 30px;
            padding: 10px;
            font-size: 18px;
        }
    }
}

// Thanks page
#thanks {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 90px);  // = viewport height - footer's height
    overflow: hidden;
}

// Buttons
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($color: $primary-color, $amount: 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($color: $primary-color, $amount: 50);
    color: #333;
}

.btn-dark-round {
    @extend .btn-dark;
    border-radius: 10px;
}

.btn-light-round {
    @extend .btn-light;
    border-radius: 10px;
}

.btn-light-round-cv {
    @extend .btn-light-round;
    width: 25%;
}

.btn-light-round-edu {
    @extend .btn-light-round;
    width: 32%;
}

.btn-light-round-thx {
    @extend .btn-light-round;
    width: 14%;
}

// Modals
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid $secondary-color;
    border-radius: 10px;
    z-index: 10;
    background-color: $primary-color;
    width: 500px;
    max-width: 70%;
    .modal-header {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $secondary-color;
    }
    .modal-header .title {
        font-size: 1.25rem;
        font-weight: bold;
    }
    .modal-header .close-btn {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .modal-body {
        padding: 10px 15px;
    }
}

#modal-msc, #modal-sdu, #modal-ttu, #modal-bsc {
    li {
        list-style: none;
    }
}

#modal-msc {
    height: 80vh;
}

#modal-bsc {
    height: 80vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        border: 1px solid black;
        border-radius: 10px;
        margin: 5px 20px 5px 0;
        background-color: white;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 10px $primary-color;
    }
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

// Footer
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($color: $primary-color, $amount: 10);
    color: set-text-color($primary-color);
    height: 90px;
    .copyright {
        font-size: small;
        margin-top: 0.5rem;
    }
    .icons {
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
}

@import 'mobile';