name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Set up Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '24.11.1'

      - name: Install dependencies
        run: npm install

      - name: Build CSS from SASS
        run: npm run sass

      - name: Deploy to gh-pages branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run deploy

# TODO: check permissions for GITHUB_TOKEN
